:root {
  --button-color: #3D8168;
  --button-action-color: #1A4032;
  --primary-text-color: #1C232B;
  --secundary-text-color: #6C7289;
  --terciary-text-color: #FFF;
  --backgound-color: #F2EAE2;
  --primary-font-family: 'Montserrat', sans-serif;
  --secundary-font-family: 'Fraunces', serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--primary-font-family);
} 

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--backgound-color);
}

.product-card-container {
  display: flex;
  width: 600px;
  height: 450px;
  border-radius: 10px;
}

.product-card-container .image {
  width: 50%;
  height: 450px;
  border-radius: 10px 0 0 10px;
  background-image: url(../images/image-product-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.product-card-container .description {
  background-color: var(--terciary-text-color);
  width: 50%;
  padding: 32px;
  border-radius: 0 10px 10px 0;
}

.product-card-container .description p:nth-child(1) {
  font-size: 12px;
  letter-spacing: 5px;
  color: var(--secundary-text-color);
}

.product-card-container .description h1 {
  margin: 24px 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  font-family: var(--secundary-font-family);
}

.product-card-container .description p:nth-child(3) {
  max-width: 226px;
  font-size: 14px;
  color: var(--secundary-text-color);
}

.product-card-container .description .cost {
  display: flex;
  align-items: center;
  margin: 36px 0;
}

.product-card-container .description .cost p:nth-child(1) {
  font-family: var(--secundary-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  color: var(--button-color);
  margin-right: 19px;
}

.product-card-container .description .cost p:nth-child(2) {
font-size: 13px;
line-height: 23px;
color: var(--secundary-text-color);
} 

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  background-color: var(--button-color);
  border-radius: 8px;
  border: none;
}

button:hover {
  background-color: var(--button-action-color);
  cursor: pointer;
}

button div {
  width: 14px;
  height: 16px;
  margin-right: 10px;
  background: no-repeat 100%/100% url(../images/icon-cart.svg);
}

button p {
  font-family: var(--primary-font-family);
  font-size: 14px;
  color: var(--terciary-text-color)
}

@media screen and (max-width: 376px) {
  .product-card-container {
    position: relative;
    flex-direction: column;
    width: 100vw;
    height: 95vh;
    margin: 28px 16px;
  }

  .product-card-container .image{
    position: absolute;
    width: 343px;
    height: 340px;
    background-size: cover;
    background-position: bottom -50px left 0;
    border-radius: 10px 10px 0 0;
  }

  .product-card-container .description {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 270px;
    padding: 24px;
    border-radius: 0px 0px 10px 10px;
  }

  .product-card-container .descriptio h1 {
    margin: 12px 0;
  }

  .product-card-container .description p:nth-child(3) {
    max-width: 300px;
    line-height: 23px
  }

  .product-card-container .description .cost {
    margin: 24px 0;
  }
}